name: Update All Podcasts

on:
  schedule:
    # 第一次執行：12:05 (HKT) - 適合抓《Bad Girl》
    - cron: '5 4 * * 1-5'
    # 第二次執行：19:05 (HKT) - 適合抓《聖艾粒》
    - cron: '5 11 * * 1-5'
  workflow_dispatch: # 允許手動執行

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests
      
      - name: Update Bad Girl
        run: python update_podcast.py
        
      - name: Update ILUB
        run: python update_ilub.py
        
      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add rss.xml ilub.xml
          git commit -m "Auto-update: New episodes check" || exit 0
          git push
